body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color: white;
    
}
.calculatrice{
    background-color: black;
    border-radius: 20px;
    width: 400px;
    padding: 25px;
}
.texte{
    border-radius: 100%;
    background-color: rgb(141, 96, 96);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.ecran{
    background-color: gray;
    border-radius: 10px;
    width: 95%;
    height: 50px;
    padding: 10px;
    color: white;
    text-align: right;
    font-size: 30px;
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 15px;
}
.btn{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /*pour 4 colonnes de boutons*/
    gap: 15px; /*espacement entre les boutons*/
}
button{
    background-color: rgb(63, 63, 63);
    border: none;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
}
.gray{
    background-color: rgb(156, 153, 153);
    font-weight: bold;
}
.orange{
    background-color: rgb(255, 165, 0);
    color: white;
    font-weight: bold;
}
.chiffre{
    background-color: rgb(63, 62, 62);
    color: white;
    font-weight: bold;
}
#zero{
    grid-column: span 2; /*le bouton zéro occupe 2 colonnes*/
    width: 160px; /*ajustement de la largeur pour le bouton zéro*/
    border-radius: 50px;
    text-align: left;
    padding-left: 20px;
}
.gray:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}
.orange:hover{
    background-color: rgb(240, 127, 7);
    color: black;
}.chiffre:hover{
    background-color: rgb(192, 189, 189);
    color: black;
}